.custom-select-time-end .ant-select-selector {
    width: 130px !important;
    height: 40px !important;
    /* border-radius: 60px !important; */
    /* background-color: #f5f5f5 !important; */
    color: black !important;
    display: flex;
    align-items: center;
    top: 50% !important;
    transform: translateY(-50%) !important;
}